torch==2.5.1
typer==0.15.1
fastapi==0.115.6
uvicorn==0.34.0
numpy>=2.2.1
pandas==2.2.3
scikit-learn==1.6.1
joblib==1.4.2
scipy>=1.15.1
threadpoolctl==3.5.0
pytest===8.3.4
coverage===7.6.10
google-cloud
google-cloud-storage
google-cloud-aiplatform
google-auth
#fastapi
#uvicorn
#python-multipart
pytest==8.3.4
coverage==7.6.10
dvc==3.59.0
dvc-gs==3.0.1
PyYAML
wandb===0.19.4

pre-commit==4.1.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
httplib2==0.22.0
proto-plus==1.25.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1-modules==0.4.1
pyparsing==3.2.1
requests==2.32.3
rsa==4.9
uritemplate==4.1.1
urllib3==2.3.0

#fastapi
#uvicorn
#python-multipart